CVE-2022-31690 @ Maven-org.springframework.security:spring-security-web-3.2.4.RELEASE

**Vulnerable Package** issue exists @ **Maven\-org.springframework.security:spring\-security\-web\-3.2.4.RELEASE** in branch **master**

Spring Security, versions prior to 5.6.9, and 5.7.x prior to 5.7.5 could be susceptible to a privilege escalation under certain conditions. A malicious user or attacker can modify a request initiated by the Client (via the browser) to the Authorization Server which can lead to a privilege escalation on the subsequent approval. This scenario can happen if the Authorization Server responds with an OAuth2 Access Token Response containing an empty scope list (per RFC 6749, Section 5.1) on the subsequent request to the token endpoint to obtain the access token.

**Namespace:** cxronen
**Repository:** BookStore_CxFlow
**Repository Url:** https://github.com/cxronen/BookStore_CxFlow
**CxAST\-Project:** cxronen/BookStore_CxFlow
**CxAST platform scan:** [ea18231c\-6d85\-4621\-adc0\-681d98bf18df](https://ast.checkmarx.net/projects/34c002e7-a29d-4339-ab21-6312d4f8533f/scans?id=ea18231c-6d85-4621-adc0-681d98bf18df&branch=master)
**Branch:** master
**Application:** BookStore_CxFlow
**Severity:** HIGH
**State:** NOT_IGNORED
**Status:** RECURRENT
**CWE:** CWE-269


----
**Additional Info**
**Attack vector:** NETWORK
**Attack complexity:** HIGH
**Confidentiality impact:** HIGH
**Availability impact:** HIGH
**Remediation Upgrade Recommendation:** 5.6.9


----
**References**
[Advisory](https://github.com/advisories/GHSA-32vj-v39g-jh23)
[Advisory](https://tanzu.vmware.com/security/cve-2022-31690)
[Release Note](https://github.com/spring-projects/spring-security/releases/tag/5.7.5)
[Issue](https://github.com/spring-projects/spring-security/issues/12101)
[Commit](https://github.com/spring-projects/spring-security/commit/65307777424407790209a1ae82a4c6245ec92bf0)
