CVE-2016-5388 @ Maven-org.apache.tomcat:tomcat-catalina-7.0.27

**Vulnerable Package** issue exists @ **Maven\-org.apache.tomcat:tomcat\-catalina\-7.0.27** in branch **master**

Apache Tomcat 7.0.x through 7.0.70, 8.0.x through 8.0.36, 8.5.x through 8.5.4 and 9.0.x through 9.0.0.M9, when the CGI Servlet is enabled, follows RFC 3875 section 4.1.18 and therefore does not protect applications from the presence of untrusted client data in the HTTP_PROXY environment variable, which might allow remote attackers to redirect an application's outbound HTTP traffic to an arbitrary proxy server via a crafted Proxy header in an HTTP request, aka an "httpoxy" issue. NOTE: the vendor states "A mitigation is planned for future releases of Tomcat, tracked as CVE-2016-5388"; in other words, this is not a CVE ID for a vulnerability.

**Namespace:** cxronen
**Repository:** BookStore_CxFlow
**Repository Url:** https://github.com/cxronen/BookStore_CxFlow
**CxAST\-Project:** cxronen/BookStore_CxFlow
**CxAST platform scan:** [ea18231c\-6d85\-4621\-adc0\-681d98bf18df](https://ast.checkmarx.net/projects/34c002e7-a29d-4339-ab21-6312d4f8533f/scans?id=ea18231c-6d85-4621-adc0-681d98bf18df&branch=master)
**Branch:** master
**Application:** BookStore_CxFlow
**Severity:** HIGH
**State:** NOT_IGNORED
**Status:** RECURRENT
**CWE:** CWE-284


----
**Additional Info**
**Attack vector:** NETWORK
**Attack complexity:** HIGH
**Confidentiality impact:** HIGH
**Availability impact:** HIGH
**Remediation Upgrade Recommendation:** 7.0.109


----
**References**
[Commit](https://github.com/apache/tomcat/commit/fb3569fbb9a2f55459aa8e1e22bc35a737e66329)
[Advisory](https://www.kb.cert.org/vuls/id/797896)
